**生存率**：一个分类中存活的人数/分类中整体的人数<br/>
问题：
- 生存率是否和性别有关？
- 生存率是否和年龄有关？
- 生存率是否和船舱等级有关？
- 恐惧度对生存率的影响？

In [7]:
import pandas as pd

titanic_df = pd.read_csv('titanic-data.csv')
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**假设1**：生存率和年龄有关(根据传闻，年轻人会让小孩和老人先上救生船)<br/>
**定义**：年龄小于15为**小孩**，年龄大于60为**老人**，在两者之间的为**普通人**<br/>

- H0 小孩和老人的生存率等于普通人的存活率
- H1 小孩和老人的生存率小于普通人的存活率

**假设2**:存活率和性别有关
    - H0女性存活率和男性相等
    - H1女性存活率高于男性

In [17]:
#不同性别的存活率
titanic_df.groupby('Sex')['Survived'].sum()/titanic_df.groupby('Sex')['Survived'].count()

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

In [22]:
#不同上船地点的存活率
titanic_df.groupby('Embarked')['Survived'].sum()/titanic_df.groupby('Embarked')['Survived'].count()

Embarked
C    0.553571
Q    0.389610
S    0.336957
Name: Survived, dtype: float64

In [23]:
#船舱不同等级的存活率
titanic_df.groupby('Pclass')['Survived'].sum()/titanic_df.groupby('Pclass')['Survived'].count()

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [26]:
titanic_df.groupby('SibSp')['Survived'].sum()/titanic_df.groupby('SibSp')['Survived'].count()

SibSp
0    0.345395
1    0.535885
2    0.464286
3    0.250000
4    0.166667
5    0.000000
8    0.000000
Name: Survived, dtype: float64

In [44]:
#老年人的存活率
titanic_old_df = titanic_df[titanic_df['Age']>=50]
old_survived_p = titanic_old_df['Survived'].sum()/titanic_old_df['Survived'].count()
#孩子的存活率
titanic_child_df = titanic_df[titanic_df['Age']<=15]
child_survived_p =  titanic_child_df['Survived'].sum()/titanic_child_df['Survived'].count()
#成人的存活率
titanic_x_df = titanic_df[titanic_df['Age']>15]
titanic_normal_df = titanic_x_df[titanic_x_df['Age']<50]
normal_survived_p =  titanic_normal_df['Survived'].sum()/titanic_normal_df['Survived'].count()

print('Old:',old_survived_p)
print('Child:',child_survived_p)
print('Normal:',normal_survived_p)

Old: 0.364864864865
Child: 0.590361445783
Normal: 0.384201077199